In [93]:
import pyodbc
import pandas as pd
import warnings

conn_str = (
    r'DRIVER={Microsoft Access Driver (*.mdb, *.accdb)};'
    r'DBQ=./Databases/aenc.accdb;'
)
cnxn = pyodbc.connect(conn_str)
crsr = cnxn.cursor()
for table_info in crsr.tables(tableType='TABLE'):
    print(table_info.table_name)

bonus
customer
department
employee
product
region
sales_order
sales_order_item
state

In [94]:
aenc_df_product = pd.read_sql_query("SELECT * FROM product",cnxn)
aenc_df_bonus = pd.read_sql_query("SELECT * FROM bonus",cnxn)
aenc_df_department = pd.read_sql_query("SELECT * FROM department",cnxn)
aenc_df_employee = pd.read_sql_query("SELECT * FROM employee",cnxn)
aenc_df_customer = pd.read_sql_query("SELECT * FROM customer",cnxn)
aenc_df_region = pd.read_sql_query("SELECT * FROM region",cnxn)
aenc_df_sales_order = pd.read_sql_query("SELECT * FROM sales_order",cnxn)
aenc_df_sales_order_item = pd.read_sql_query("SELECT * FROM sales_order_item",cnxn)
aenc_df_state = pd.read_sql_query("SELECT * FROM state",cnxn)

C:\Users\jboek\AppData\Local\Temp\ipykernel_20860\1333140308.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  aenc_df_product = pd.read_sql_query("SELECT * FROM product",cnxn)
C:\Users\jboek\AppData\Local\Temp\ipykernel_20860\1333140308.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  aenc_df_bonus = pd.read_sql_query("SELECT * FROM bonus",cnxn)
C:\Users\jboek\AppData\Local\Temp\ipykernel_20860\1333140308.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  aenc_df_department = pd.read_sql_query("SELECT * FROM department",cnxn)
C:\Users\jboek\AppData\Local\Temp\ipykernel_20860\1333140308.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  aenc_df_employee = pd.read_sql_query("SELECT * FROM employee",cnxn)
C:\Users\jboek\AppData\Local\Temp\ipykernel_20860\1333140308.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  aenc_df_customer = pd.read_sql_query("SELECT * FROM customer",cnxn)
C:\Users\jboek\AppData\Local\Temp\ipykernel_20860\1333140308.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  aenc_df_region = pd.read_sql_query("SELECT * FROM region",cnxn)
C:\Users\jboek\AppData\Local\Temp\ipykernel_20860\1333140308.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  aenc_df_sales_order = pd.read_sql_query("SELECT * FROM sales_order",cnxn)
C:\Users\jboek\AppData\Local\Temp\ipykernel_20860\1333140308.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  aenc_df_sales_order_item = pd.read_sql_query("SELECT * FROM sales_order_item",cnxn)
C:\Users\jboek\AppData\Local\Temp\ipykernel_20860\1333140308.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  aenc_df_state = pd.read_sql_query("SELECT * FROM state",cnxn)

In [95]:
DB = {'servername': 'LAPTOP-JCB37LKM\SQLEXPRESS',
      'database': 'NorthWind'}

export_conn = pyodbc.connect('DRIVER={SQL Server};SERVER='+ DB['servername'] + ';DATABASE=' + DB['database'] + ';Trusted_Connection=yes')

In [96]:
DB2 = {'servername': 'LAPTOP-JCB37LKM\SQLEXPRESS',
      'database': 'AdventureWorks2019'}

export_conn_adventurewors = pyodbc.connect('DRIVER={SQL Server};SERVER='+ DB2['servername'] + ';DATABASE=' + DB2['database'] + ';Trusted_Connection=yes')

In [97]:
adv_df_product = pd.read_sql_query("SELECT ProductID,Name,ProductSubcategoryID from Production.Product",export_conn_adventurewors)
adv_df_product_subcategory = pd.read_sql_query("SELECT ProductSubcategoryID,Name,ProductCategoryID from Production.ProductSubcategory",export_conn_adventurewors)
adv_df_product_category = pd.read_sql_query("SELECT Name,ProductCategoryID from Production.ProductCategory",export_conn_adventurewors)

C:\Users\jboek\AppData\Local\Temp\ipykernel_20860\4184286982.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  adv_df_product = pd.read_sql_query("SELECT ProductID,Name,ProductSubcategoryID from Production.Product",export_conn_adventurewors)
C:\Users\jboek\AppData\Local\Temp\ipykernel_20860\4184286982.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  adv_df_product_subcategory = pd.read_sql_query("SELECT ProductSubcategoryID,Name,ProductCategoryID from Production.ProductSubcategory",export_conn_adventurewors)
C:\Users\jboek\AppData\Local\Temp\ipykernel_20860\4184286982.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  adv_df_product_category = pd.read_sql_query("SELECT Name,ProductCategoryID from Production.ProductCategory",export_conn_adventurewors)

In [98]:
nw_df_product = pd.read_sql_query("SELECT * from Products",export_conn)
nw_df_category = pd.read_sql_query("SELECT CategoryID,CategoryName from Categories",export_conn)

C:\Users\jboek\AppData\Local\Temp\ipykernel_20860\425355533.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  nw_df_product = pd.read_sql_query("SELECT * from Products",export_conn)
C:\Users\jboek\AppData\Local\Temp\ipykernel_20860\425355533.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  nw_df_category = pd.read_sql_query("SELECT CategoryID,CategoryName from Categories",export_conn)

In [99]:
adv_product_merged = pd.merge(adv_df_product,adv_df_product_subcategory,on='ProductSubcategoryID',how='left')
adv_product_merged = pd.merge(adv_product_merged,adv_df_product_category,on='ProductCategoryID',how='left')

adv_product_merged = adv_product_merged.drop(['ProductSubcategoryID','ProductCategoryID'],axis=1)
adv_product_merged = adv_product_merged.rename(columns={
    'Name': 'Category',
    'Name_y': 'Subcategory',
    'Name_x': 'Name',

})
adv_product_merged['Source'] = 'AdventureWorks'
adv_product_final = adv_product_merged.reindex(columns=['ProductID', 'Name', 'Subcategory','Category','Source'])
adv_product_final

,ProductID,Name,Subcategory,Category,Source
0,1,Adjustable Race,NaN,NaN,AdventureWorks
1,2,Bearing Ball,NaN,NaN,AdventureWorks
2,3,BB Ball Bearing,NaN,NaN,AdventureWorks
3,4,Headset Ball Bearings,NaN,NaN,AdventureWorks
4,316,Blade,NaN,NaN,AdventureWorks
...,...,...,...,...,...
499,995,ML Bottom Bracket,Bottom Brackets,Components,AdventureWorks
500,996,HL Bottom Bracket,Bottom Brackets,Components,AdventureWorks
501,997,"Road-750 Black, 44",Road Bikes,Bikes,AdventureWorks
502,998,"Road-750 Black, 48",Road Bikes,Bikes,AdventureWorks
503,999,"Road-750 Black, 52",Road Bikes,Bikes,AdventureWorks

In [100]:
aenc_df_product_dropped = aenc_df_product.drop(['picture_name','quantity','prod_size','unit_price'],axis=1)
aenc_df_product_dropped['Source'] = 'AenC'
aenc_df_product_dropped = aenc_df_product_dropped.rename(columns={
    'id': 'ProductID',
    'name': 'Subcategory',
    'description': 'Name',
    'color': 'Color',

})
aenc_df_product_dropped['Category'] = aenc_df_product_dropped['Category'].replace('Clothes', 'Clothing')

aenc_df_product_final = aenc_df_product_dropped.reindex(columns=['ProductID', 'Name', 'Subcategory','Category','Source'])
aenc_df_product_final

  ProductID               Name   Subcategory     Category Source
0       300           Tank Top     Tee Shirt     Clothing   AenC
1       301             V-neck     Tee Shirt     Clothing   AenC
2       302          Crew Neck     Tee Shirt     Clothing   AenC
3       400         Cotton Cap  Baseball Cap  Accessories   AenC
4       401           Wool cap  Baseball Cap  Accessories   AenC
5       500        Cloth Visor         Visor  Accessories   AenC
6       501      Plastic Visor         Visor  Accessories   AenC
7       600  Hooded Sweatshirt    Sweatshirt     Clothing   AenC
8       601  Zipped Sweatshirt    Sweatshirt     Clothing   AenC
9       700      Cotton Shorts        Shorts     Clothing   AenC

In [101]:
nw_df_product_dropped = nw_df_product.drop(['Discontinued','ReorderLevel','UnitPrice','UnitsInStock','QuantityPerUnit','UnitsOnOrder','SupplierID'],axis=1)
nw_df_product_merged = pd.merge(nw_df_product_dropped,nw_df_category,on='CategoryID',how='left')
nw_df_product_merged = nw_df_product_merged.drop('CategoryID',axis=1)
nw_df_product_merged['Source'] = 'NorthWind'
nw_df_product_merged['Category'] = 'Food'
nw_df_product_merged = nw_df_product_merged.rename(columns={
    'ProductName': 'Name',
    'CategoryName': 'Subcategory',
    
})
nw_df_product_final = nw_df_product_merged.reindex(columns=['ProductID', 'Name','Subcategory','Category','Source'])
nw_df_product_final

    ProductID                             Name Subcategory Category     Source
0           1                             Chai   Beverages     Food  NorthWind
1           2                            Chang   Beverages     Food  NorthWind
2           3                    Aniseed Syrup  Condiments     Food  NorthWind
3           4     Chef Anton's Cajun Seasoning  Condiments     Food  NorthWind
4           5           Chef Anton's Gumbo Mix  Condiments     Food  NorthWind
..        ...                              ...         ...      ...        ...
72         73                       Röd Kaviar     Seafood     Food  NorthWind
73         74                    Longlife Tofu     Produce     Food  NorthWind
74         75             Rhönbräu Klosterbier   Beverages     Food  NorthWind
75         76                     Lakkalikööri   Beverages     Food  NorthWind
76         77  Original Frankfurter grüne Soße  Condiments     Food  NorthWind

[77 rows x 5 columns]

In [107]:
combined_products = pd.concat([adv_product_final, aenc_df_product_final, nw_df_product_final]).reset_index(drop=True)
combined_products['ProductKey'] = combined_products.index + 1
combined_products = combined_products.reindex(columns=['ProductKey','ProductID', 'Name','Subcategory','Category','Source'])
combined_products

,ProductKey,ProductID,Name,Subcategory,Category,Source
0,1,1,Adjustable Race,NaN,NaN,AdventureWorks
1,2,2,Bearing Ball,NaN,NaN,AdventureWorks
2,3,3,BB Ball Bearing,NaN,NaN,AdventureWorks
3,4,4,Headset Ball Bearings,NaN,NaN,AdventureWorks
4,5,316,Blade,NaN,NaN,AdventureWorks
...,...,...,...,...,...,...
586,587,73,Röd Kaviar,Seafood,Food,NorthWind
587,588,74,Longlife Tofu,Produce,Food,NorthWind
588,589,75,Rhönbräu Klosterbier,Beverages,Food,NorthWind
589,590,76,Lakkalikööri,Beverages,Food,NorthWind
590,591,77,Original Frankfurter grüne Soße,Condiments,Food,NorthWind